* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Flexo-Demi", arial, sans-serif;
}

header {
    background-image: url("https://i.imgur.com/Gy1iN3o.png");
    color: rgb(222, 73, 66);
    justify-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 25px;
}

header ion-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #212121
}

section label {
    position: absolute;
    left: 110px;
    top: 8px;
    width: 100px;
    height: 50px;
    background: #3e3e3e;
    box-shadow: 0 0 0 4px #303030;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

section label input {
    appearance: none;
}

section label span {
    position: absolute;
    left: 50px;
    width: 50px;
    height: 50px;
    background: url(https://i.imgur.com/gXW0YaU.png);
    background-size: 50px;
    transition: 1.5s;
}

section label input:checked~span {
    left: 0px;
    transform: rotate(-360deg);
}


section label text {
    font-weight: bold;
    color: #8f8f8f;
    position: absolute;
    font-family: consolas;
    left: -35px;
    filter: none;
    transition: 1.5s;
}

section label input:checked~text {
    color: rgb(222, 73, 66);
    filter: drop-shadow(0 0 15px rgb(222, 73, 66)) drop-shadow(0 0 50px rgb(222, 73, 66));
}

section label text:last-child {
    color: rgb(222, 73, 66);
    font-weight: bold;
    position: absolute;
    left: initial;
    right: -30px;
    filter: drop-shadow(0 0 15px rgb(222, 73, 66)) drop-shadow(0 0 50px rgb(222, 73, 66));
}

section label input:checked~text:last-child {
    color: #8f8f8f;
    filter: none;
}

.pokemon-search {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-items: center;
    justify-content: center;
    max-width: 100%;
}

.pokedex {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-items: center;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 50px;
}

.pokemon-number {
    font-weight: bold;
    color: #999999;
    font-size: .85em;
}

.pokemon-name {
    margin: 12px 8px;
    color: #2c2c2c;
    font-size: 1.6em;
}

.badge {
    color: #212121;
    margin-left: .7em;
    text-transform: capitalize;
    display: inline;
    padding: .12rem 1.4em;
    font-size: .8rem;
    border-radius: 4px;
    margin-bottom: 10px;
}

.badge-grass {
    background-color: #9bcc47;
}

.badge-poison {
    background-color: #b97fc6;
    color: #fff
}

.badge-fire {
    background-color: #fd7d22;
    color: #fff
}

.badge-water {
    background-color: #4592c4;
    color: #fff
}

.badge-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
}

.badge-bug {
    background-color: #729f3f;
    color: #fff
}

.badge-climber {
    background-color: #66482b;
    color: #fff
}

.badge-normal {
    background-color: #a4acaf
}

.badge-electric {
    background-color: #eed535
}

.badge-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
}

.badge-fairy {
    background-color: #fdb9e9;
}

.badge-fighting {
    background-color: #d56723;
    color: #fff;
}

.badge-psychic {
    background-color: #f366b9;
    color: #fff;
}

.badge-rock {
    background-color: #a38c21;
    color: #fff;
}

.badge-steel {
    background-color: #9eb7b8;
}

.badge-ice {
    background-color: #51c4e7;
}

.badge-ghost {
    background-color: #7b62a3;
    color: #fff;
}

.badge-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
}

.sound-button {
    height: 25px;
    width: 25px;
    cursor: pointer;
    position: relative;
    left: 197px;
    top: 10px;
}

@keyframes pokemon-up {
    100% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-30px);
    }
}

.pokemon-card {
    border-radius: 15px;
    margin: 8px;
    padding: 0 8px 8px 8px;
    background-color: #f2f2f2;
    box-shadow: 5px 3px 3px #a8a8a8;
    ;
}

.pokemon-card:hover {
    animation: pokemon-up .4s;
}