* {
    margin: 0;
}

header {
    background-image: url("https://i.imgur.com/Gy1iN3o.png");
    color: rgb(222, 73, 66);
    justify-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 15px;
}

body {
    font-family: arial, helvetica, sans-serif;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-items: center;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 50px;
}

.pokemon-img {
    background-color: #f2f2f2;
    margin-top: 30px;
}

.pokemon-number {
    font-weight: bold;
    color: #999999;
    font-size: .85em;
}

.pokemon-name {
    font-family: Century Gothic;
    margin: 12px 8px;
    font-weight: 50;
    color: #2c2c2c;
    font-size: 1.6em;
}

.badge {
    color: #212121;
    margin-left: .7em;
    text-transform: capitalize;
    display: inline;
    padding: .12rem 1.4em;
    font-size: .8rem;
    border-radius: 4px;
}

.badge-grass {
    background-color: #9bcc47;
}

.badge-poison {
    background-color: #b97fc6;
    color: #fff
}

.badge-fire {
    background-color: #fd7d22;
    color: #fff
}

.badge-water {
    background-color: #4592c4;
    color: #fff
}

.badge-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
}

.badge-bug {
    background-color: #729f3f;
    color: #fff
}

.badge-climber {
    background-color: #66482b;
    color: #fff
}

.badge-normal {
    background-color: #a4acaf
}

.badge-electric {
    background-color: #eed535
}

.badge-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
}

.badge-fairy {
    background-color: #fdb9e9;
}

.badge-fighting {
    background-color: #d56723;
    color: #fff;
}

.badge-psychic {
    background-color: #f366b9;
    color: #fff;
}

.badge-rock {
    background-color: #a38c21;
    color: #fff;
}

.badge-steel {
    background-color: #9eb7b8;
}

.badge-ice {
    background-color: #51c4e7;
}

.badge-ghost {
    background-color: #7b62a3;
    color: #fff;
}

.badge-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
}